<div id="header">
  <div id="event-info">
    <div class="wrapper">
      <span id="date">15 de Outubro 2012</span>
      <span id="location">Gualtar, Braga</span>
    </div>
  </div>

  <div class="wrapper">
    <%= image_tag "gold_wreath.png", alt: "Ruby Norte 2012", id: "gold-wreath", size: "378x314" %>

    <h1>Ruby Norte 2012</h1>

    <p>Ruby Norte é o encontro para todos aqueles que querem ensinar e aprender mais sobre a linguagem de programação Ruby. Todos estão convidados a participar.</p>

    <button>Inscreve-te!</button>
  </div>
</div>

<div id="main-content">
  <div class="wrapper">
    <p>Segue-nos no Twitter pela hash #rubynorte ou segue o @rubynorte!</p>
  </div>
</div>

<div id="footer">
  <p>© 2012 <a href="http://www.groupbuddies.com">Group Buddies</a>. All rights reserved.</p>
</div>
