@import "partials/base"


body
  background-color: $faded-yellow


.wrapper
  margin: auto
  width: 960px


#top-bar
  background-color: rgba(0, 0, 0, 0.2)
  color: $faded-yellow
  font-family: 'League Gothic'
  font-size: 1.3em
  padding: 12px 0 10px
  text-transform: uppercase
  letter-spacing: 1px

  #location
    float: right


header
  background-color: $dark-red
  background-image: image-url('separator.png'), image-url('bg.png')
  background-position: bottom, center
  background-repeat: repeat-x, repeat
  padding-bottom: 80px

  #gold-wreath
    display: block
    margin: 50px auto 20px

  h1
    color: $golden-yellow
    font-family: 'Quattrocento', 'Cambria', 'Times New Roman'
    font-size: 2.3em
    letter-spacing: -1px
    padding-bottom: 35px
    text-align: center
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2)
    text-transform: uppercase

  #description
    color: $faded-yellow
    font-family: Verdana
    font-size: 1em
    line-height: 1.2em
    margin: 0 auto 40px
    width: 500px

  button
    background-color: $dark-red
    border: 8px solid rgba(0, 0, 0, 0.3)
    border-radius: 8px
    color: $golden-yellow
    display: block
    font-size: 1.1em
    margin: auto
    padding: 12px 20px


#main-content
  height: 800px


footer
  padding: 30px 0
  text-align: center
